@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@600&display=swap");
@font-face {
  font-family: "nexablack_italic";
  src: url("roadrunner-webfont.woff2") format("woff2"),
    url("roadrunner-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$main_color: rgb(97, 50, 55);
.port-div {
  width: 99vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entrance-background {
  background-color: #8fee49 !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entrance-text {
  font-family: "Anton", sans-serif;
  font-size: 100px;
  color: #a47a2f;
  cursor: pointer;
  text-align: center;
  letter-spacing: 10px;
}
.nav-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 1%;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  font-family: "nexablack_italic";
  font-size: 45px;
  font-weight: lighter;
  cursor: pointer;
  border-bottom: 5px black solid;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}
.header-title {
  font-family: "nexablack_italic";
  color: black;
  font-style: normal;
  font-size: 50px;
  padding-bottom: 0px;
  margin: 0px;
  text-decoration: underline;
}
.header-name {
  font-size: 1.5rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-weight: bolder;
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0px;
  word-break: break-all;
  word-wrap: break-word;
}
.header-description {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: black;
  font-size: 1.25rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  word-break: break-all;
  word-wrap: break-word;
}
.small {
  font-size:1.25rem;

}

.info-section {
  display: flex;
  flex-direction: column;
}

.header-back {
  font-family: "nexablack_italic";
  color: black;
  font-style: normal;
  font-size: 25px;
  padding-bottom: 0px;
  margin-bottom: 2%;

  margin-top: 2%;

  cursor: pointer;
  border-bottom: 5px white solid;
}

.work-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 500px));

  justify-content: center;
  gap: 10px;
  padding-top: 0.25%;
  padding-bottom: 1%;
}

.work-image {
  width: 100%;
  align-self: center;
  justify-self: center;
  height: 100%;
  object-fit: cover;
}
.work-temp {
  min-width: 250px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
}
.fade-in {
  opacity: 0%;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.port-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99vw;
}
.image-div {
  position: relative;
  height: 750px;
  width: 500px;
  align-items: center;
  justify-content: center;
}
.outline-image {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-image {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.shreejwal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%; border-radius: 5%;
}
.name {
  white-space: nowrap;
  font-size: calc(15px + 1vmin);
}
.link-image {
  margin: 0px;
  width: fit-content;
  height: fit-content;
  margin-left: 1%;
  margin-right: 1%;
}
.info-image {
  position: absolute;
  left: 44.77%;
  bottom: 34.5%;
  font-size: 25px;
}
.shreejwal-image-info {
  width: 450px;
  height: 450px;
  background-color: black;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  object-fit: cover;
  align-self: center;
  box-sizing: border-box;
  border-radius: 1%;
}
.info-div {
  position: relative;
  text-align: center;
  color: black;
  width: 99vw;
  height: 100%;
  display: flex;

  align-items: center;
}
.handle-span {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%);
  font-size: 50px;
}
.shreejwal-name {
  font-family: "helvetica-neue-lt-std-93-black-extended";
  font-size: 50px;
  color: #f32951;
}
@media only screen and (max-width: 1338px) {
  .port-group {
    flex-direction: column;
  }
  .header-description {
    text-align: center;
  }
  .header-name{
    font-size: 1.5rem;

  }
  .header-name {
    text-align: center;
  }
  .info-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
  }
  // .work-wrapper:before {
  //   content: "";
  //   display: block;
  //   align-self: center;
  //   height: 5px;
  //   width: calc( 1025- 100vw); /* or 100px */
  //   background-color: gray;
  // }
  .work-wrapper {
    padding-left: 1%;
    padding-right: 1%;
  }
  .image-link {
    width: 150px;
    height: 150px;
    padding-bottom: 1%;
  }
  .small{
    font-size: 1.25rem;

  }
}
@media only screen and (min-width: 1338px) {
  .info-wrapper {
    height: 100vh;
    padding-left: 1%;
    padding-right: 1%;
    width: 25%;
    overflow-y: scroll;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .work-wrapper {
    overflow-y: scroll;
    box-sizing: content-box;
    width: 100vw;
    height: 100vh;
    padding-left: 1%;
    padding-right: 1%;
  }
  .shreejwal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
    padding-top: 1%;
    margin-bottom: 1%;   

  }
}
